#webflow
    padding-top: 70px
    .box
        border: 2px solid #830d0d
        border-radius: 5px
        background: #830d0d
        width: 220px
        height: 150px
        input
            margin: 10px

        flex-direction: column
        h2
            color: #ffff
        .btn
            border: 2px solid #ffff
            background: #ffff
            padding: 0 20px
